<% if RequestStore.store[:used_phrases] %>
  <div id="phrasesMenu" class="translate-menu">
    <div class="translate-menu__header">
      <a href="javascript:void(0)" class="translate-menu__closebtn" onclick="closeNav()">&times;</a>
      <h1 class="translate-menu__title">Used Prases</h1>
    </div>
    <% RequestStore.store[:used_phrases].uniq.each do |phrase| %>
      <div class="translate-menu__block">
        <div class="translate-menu__key">
          <%# link_to('OneSky',
                      "https://osmhfnr.oneskyapp.com/collaboration/translate/project/project/129280/language/1#/?keyword=#{phrase[:code]}",
                      target: '_blank',
                      class: 'btn--small btn-secondary translate-menu__btn') %>
          <%= phrase[:code] %>
        </div>
        <div class="translate-menu__phrase">
          <%= phrase[:phrase] %>
        </div>
      </div>
  <% end %>
</div>

  <!-- Use any element to open the sidenav -->
  <a class="open-translations-btn" onclick="openNav()">open</a>
<% end %>
