<% if VisualI18n.store_phrases? %>
  <div id="phrasesMenu" class="phrases-menu">
    <div class="phrases-menu__header">
      <a href="javascript:void(0)" class="phrases-menu__closebtn" onclick="closeNav()">&times;</a>
      <h1 class="phrases-menu__title">Used Phrases</h1>
    </div>
    <% VisualI18n.phrases.each do |phrase| %>
      <div class="phrases-menu__block">
        <div class="phrases-menu__key">
          <%# link_to('OneSky',
                      "https://osmhfnr.oneskyapp.com/collaboration/translate/project/project/129280/language/1#/?keyword=#{phrase[:code]}",
                      target: '_blank',
                      class: 'btn--small btn-secondary phrases-menu__btn') %>
          <%= phrase.code %>
          <%# phrase.repository_link %>
        </div>
        <div class="phrases-menu__phrase">
          <%= phrase.text %>
        </div>
        <div class="phrases-menu__path">
          <%= phrase.repository_link %>
        </div>
      </div>
    <% end %>
  </div>

  <a class="open-phrases-menu-btn" onclick="openNav()">Phrases</a>
<% end %>
