<!DOCTYPE html>
<html>
<head>
  <title>Rosetta</title>

  <meta charset="utf-8"/>
  <%= stylesheet_link_tag 'rosetta/application' %>
  <%= javascript_include_tag 'rosetta/application' %>
</head>
<body>
  <%= yield %>
</body>
</html>
