<div v-bind:id="phrase.code" class="phrases-menu__block">
  <div class="phrases-menu__key">
    {{ phrase.code }}
  </div>

  <div class="phrases-menu__phrase">
    <form v-bind:id="phrase.code" v-bind:action="phrase.repository_link" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="_method" value="put">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <input type="hidden" name="current_path" id="current_path" v-bind:value="'<%= url_for %>#' + phrase.code">
      <textarea name="value" v-bind:id="phrase.code + '_value'" class="database__field">{{ phrase.text }}</textarea>
      <input type="submit" name="commit" value="Update" v-bind:id="phrase.code + '_submit'" data-disable-with="Update">
    </form>
  </div>

  <div class="phrases-menu__phrase_additional_actions">
    <%= render 'rosetta/database/additional_actions' %>
  </div>
</div>
