<div class="phrases-menu__header">
  <h1 class="phrases-menu__title">
    <%= Rosetta.repository.label %> <b>[<%= @selected_locale %>]</b>
  </h1>
</div>

<div id="phrases-list">
  <div class="phrases-list__search">
    <input v-model="query" type="text" id="search" placeholder="Search (examples: hello, he*)">
  </div>

  <div v-for="phrase in filteredPhrases">
    <%= render "rosetta/#{Rosetta.repository.id}/actions_vue" %>
  </div>
</div>

<script type="application/javascript">
  var phrases = <%= @phrases.map(&:serialize).to_json.html_safe %>;
  initPhrasesList('#phrases-list', phrases);
</script>
