.phrases-menu {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1000;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  left: -350px;
  background-color: #F5F5F5;
  transition: 0.2s;
  -webkit-box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 4px 6px 0 rgba(0, 0, 0, 0.2);

  &__header {
    height: 45px;
    position: relative;
  }

  &__title {
    margin: 0;
    padding: 12px 9px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #dedede;
  }

  &__intro {
    padding-left: 16px;
    margin-bottom: 0;
    font-size: 14px
  }

  &__search {
    font-size: 14px;
    padding: 9px 16px;
    color: #807e7e;
  }

  &__block {
    background-color: #f7fff3;
    color: #000000;
    display: block;
    text-decoration: none;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 12px;
    margin-top: 10px;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #dedede;

    &.hide {
        display: none;
    }
  }

  &__content {
    height: calc(100% - 46px);
    padding: 2px 0 12px 0;
    overflow: auto;
    box-sizing: border-box;
  }

  &__list {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__key {
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 11px;
  }

  &__phrase {
    font-size: 13px;
    margin-bottom: 11px;

    &:last-child {
        margin-bottom: 0;
    }
  }

  &__path {
    font-size: 12px;
    color: #9a9a9a;
    transition: 0.3s;
  }

  &__footer {
    text-align: center;
    max-width: 75%;
    margin: 25px auto 0;

    h1 {
        font-size: 18px;
        color: #7b7b7b;
    }

    p {
        font-size: 12px;
        color: #9a9a9a;
        line-height: 1.4;
    }

    a {
        color: inherit;
        &:hover {
            color: #e81d08;
        }
    }
  }

  &__openbtn {
    img {
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  &__closebtn {
    transition: 0.3s;
    display: none;

    img {
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }



  &.match-phrase {
    background-color: #eaffdd;

    .phrases-menu__block {
        background-color: #eaffdd;
    }

    .open-phrases-menu-btn {
        background-color: #eaffdd;
    }
  }

  &.unmatch-phrase {
    background-color: #fae0dd;

    .phrases-menu__block {
        background-color: #fae0dd;
    }

    .open-phrases-menu-btn {
        background-color: #fae0dd;
    }
  }

  &.open {
    left: 0px;

    .phrases-menu__closebtn {
        display: block;
    }

    .phrases-menu__openbtn {
        display: none;
    }
  }

}

// Extras
.open-phrases-menu-btn {
    background-color: #F5F5F5;
    color: #686866;
    -webkit-box-shadow: 4px 3px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 3px 5px 0 rgba(0, 0, 0, 0.2);
    display: block;
    position: absolute;
    right: -55px;
    height: 45px;
    width: 55px;
    border-radius: 0 0 3px 0;
    top: 0px;
    cursor: pointer;
}

.phrases-menu:not(.local) .phrases-menu__block:hover {
  color: #e81d08;
  cursor: pointer;
  border: 1px solid #e81d08;
  text-decoration: none;
}

.phrases-menu:not(.local) .phrases-menu__block:hover .phrases-menu__path {
  color: #e81d08;
}



