<div class="phrases-menu__footer">
  <h1>Rosetta</h1>
  <p>Rosetta is available as open source under the terms of the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a>.</p>
  <p><a href="https://github.com/MarsBased/rosetta" target="_blank">View in Github</a></p>
</div>