<div id="phrases-list">
  <div class="phrases-list__search">
    <input v-model="query" type="text" id="search" placeholder="Search (examples: hello, he*)">
  </div>

  <div v-for="phrase in filteredPhrases">
    <%= render "rosetta/#{repository_id}/actions" %>
  </div>
</div>